{{ form_start(form) }}

<div class="d-flex justify-content-center mt-4">{{ form_row(form.money) }}€</div>
<div class="d-flex justify-content-center mt-4">{{ form_row(form.orangoutan) }}</div>
<div class="d-flex flex-column align-items-center mt-4">
	<label for="card_number" class="required para">Numéro de carte</label>
	<input type="number" id="card_number" name="card_number">
	<label for="card_date" class="required para">Fin de validité</label>
	<input type="date" id="card_date" name="card_date">
	<label for="card_threenumber" class="required para">Cryptogramme</label>
	<input type="number" id="card_threenumber" name="card_threenumber">
</div>

<div class="d-flex justify-content-center mt-4">
	<button class="btn button-cta">{{ button_label|default('Enregistrez votre parrainage') }}</button>
</div>
{{ form_end(form) }}
