{% extends 'base.html.twig' %}

{% block title %}Adopt index{% endblock %}

{% block body %}
    <h1>Adopt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Money</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adopt in adopts %}
            <tr>
                <td>{{ adopt.id }}</td>
                <td>{{ adopt.money }}</td>
                <td>{{ adopt.date ? adopt.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_adopt_show', {'id': adopt.id}) }}">show</a>
                    <a href="{{ path('app_adopt_edit', {'id': adopt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adopt_new') }}">Create new</a>
{% endblock %}
