{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1 class="text-center">Inscription</h1>

	<div class="d-flex flex-column align-items-center mt-4">
		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<div class="d-flex justify-content-evenly">{{ form_row(registrationForm.email) }}</div>
		<div class="d-flex justify-content-evenly">{{ form_row(registrationForm.lastname) }}</div>
		<div class="d-flex justify-content-evenlyr">{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</div>
		<div class="d-flex justify-content-evenly">{{ form_row(registrationForm.rgpd) }}</div>
		<div class="d-flex justify-content-center">
			<button type="submit" class="btn button-crud">Inscription</button>
		</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
