{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="vh-100">
	<div class="d-flex justify-content-evenly align-items-center">
		<h1 class="text-center my-5">Inscription</h1>
		<img src="/build/images/REFUGE DES OURANG-OUTANS DE BORNEO.2dd4df03.png" alt="logo du refuge des orang-outans" class="petit-logo my-4">
	</div>

		<div class="d-flex flex-column align-items-center mt-4">
			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			<div class="d-flex justify-content-evenly mt-4">{{ form_row(registrationForm.lastname) }}</div>
			<div class="d-flex justify-content-evenly mt-4">{{ form_row(registrationForm.firstname) }}</div>
			<div class="d-flex justify-content-evenly mt-4">{{ form_row(registrationForm.adress) }}</div>
			<div class="d-flex justify-content-evenly mt-4">{{ form_row(registrationForm.zipcode) }}</div>
			<div class="d-flex justify-content-evenly mt-4">{{ form_row(registrationForm.city) }}</div>
			<div class="d-flex justify-content-evenly mt-4">{{ form_row(registrationForm.country) }}</div>
			<div class="d-flex justify-content-evenly mt-4">{{ form_row(registrationForm.pictureFile) }}</div>
			<div class="d-flex justify-content-evenly mt-4">{{ form_row(registrationForm.email) }}</div>
			<div class="d-flex justify-content-evenly mt-4">{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</div>
			<div class="d-flex justify-content-evenly mt-4">{{ form_row(registrationForm.rgpd) }}</div>
			<div class="d-flex justify-content-center  mt-4">
				<button type="submit" class="btn button-crud">Inscription</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
