{% extends 'base.html.twig' %}

{% block title %}
	Liste des orang-outans
{% endblock %}

{% block body %}
	<h1 class="mb-5 text-center">Découvrez nos tous nos orang-outans</h1>

	{% for orang_outan in pagination %}
		<div class="d-flex justify-content-center">
			<div class="card mb-5 w-75"  lazy="loading">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{ asset('build/images/' ~ orang_outan.picture) }}" class="img-fluid rounded-start object-fit-cover" alt="photo de {{ orang_outan.name }}">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{ orang_outan.name }}</h5>
							<p class="card-text">{{ orang_outan.birth|date('d-m-Y') }}</p>
							<p class="card-text text-truncate">
								{{ orang_outan.story }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

	<div class="d-flex justify-content-center gap-1 mb-5">
		{{ knp_pagination_render(pagination) }}
	</div>

{% endblock %}
