{% extends 'base.html.twig' %}

{% block title %}
	Liste des orang-outans
{% endblock %}

{% block body %}

	<div class="d-flex justify-content-evenly align-items-center">
		<h1 class="text-center my-5">Découvrez tous nos orang-outans</h1>
		<img src="/build/images/REFUGE DES OURANG-OUTANS DE BORNEO.2dd4df03.png" alt="logo du refuge des orang-outans" class="petit-logo my-4">
	</div>
	{% for orang_outan in pagination %}
		<div class="d-flex justify-content-center">
			<div class="card mb-5 w-75" lazy="loading">
				<div class="row g-0">
					<div class="col-md-4">
						<a href="{{ path('app_orang_outan_show', {'slug': orang_outan.slug}) }}"><img src="{{ vich_uploader_asset(orang_outan) }}" class="img-fluid rounded-start object-fit-cover w-75" alt="photo de {{ orang_outan.name }}"/></a>
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h2 class="card-title">{{ orang_outan.name }}</h2>
							<p class="card-text">Date de naissance (réelle ou estimée):
								{{ orang_outan.birth|date('d-m-Y') }}</p>
							<p class="card-text text-truncate">
								{{ orang_outan.story }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

	<div class="d-flex justify-content-center gap-1 mb-5">
		{{ knp_pagination_render(pagination) }}
	</div>

{% endblock %}
