{# ----------------------------mobile----------------------- #}
<nav>
	<ul class="navbar-mobile navbar fixed-bottom justify-content-around align-content-center d-md-none m-0">
		{% if app.user %}
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{ path('app_profile') }}">
					<i class="bi bi-person-check"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="{{ path('app_logout') }}">
					<i class="bi bi-power"></i>
				</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">
					<i class="bi bi-person"></i>
				</a>
			</li>
		{% endif %}
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_orang_outan_index') }}"><img src="build\images\visage1.090dd722.png" class="pic-navbar" alt="tête d'ourangoutan">
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">
				<i class="bi bi-house"></i>
			</a>
		</li>
		{% if app.user %}
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_adopt_new') }}">
					<i class="bi bi-person-vcard"></i>
				</a>
			</li>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item mt-3">
						<a class="nav-link" href="{{ path('app_orang_outan_new') }}">
							<i class="bi bi-plus-circle-dotted"></i>
						</a>
					</li>
				<li class="nav-item mt-3">
						<a class="nav-link" href="{{ path('admin') }}">
							<i class="bi bi-clipboard"></i>
						</a>
					</li>
				{% endif %}
	</ul>
</nav>
{# ------------------desktop------------------ #}
<nav class="d-none d-md-block fixed-top">
	<button class="btn navbar-color" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
		<i class="bi bi-list"></i>
	</button>

	<div class="offcanvas offcanvas-start navbar-color" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<ul class="d-flex flex-column align-items-center justify-content-evenly p-0 h-75">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_profile') }}">Mon profil</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_login') }}">Se connecter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_register') }}">S'inscrire</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_orang_outan_index') }}">Tous nos ourang-outans
						<img src="build\images\visage1.090dd722.png" class="pic-navbar"></a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_adopt_new') }}">
							Parrainer un de nos pensionnaires
						</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item">
						<a class="nav-link" href="{{ path('app_orang_outan_new') }}">
							Ajouter un pensionnaire
						</a>
					</li>
				<li class="nav-item">
						<a class="nav-link" href="{{ path('admin') }}">
							Accèder à mon tableau de bord
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
